{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Tailwind CSS Skeleton</title>
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />

    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
  </head>

  <body class="bg-grey-lightest font-serif leading-normal tracking-normal">
    <div class="py-4 container mx-auto">
      <section class="flex items-center justify-center h-screen bg-green-300">
        <h1 class="text-5xl">TEST TEST TEST️</h1>
        <div class="bg-gray-300 text-white w-full">Hej</div>
      </section>
    </div>
  </body>
</html>
