{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    {% block meta %}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% endblock %}

    <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.svg' %}"/>

    <link rel="preconnect" href="https://fonts.gstatic.com" />

    <link href="{% static 'customcss/styles.css' %}" rel="stylesheet" />

    <link
      rel="stylesheet"
      href="{% static 'css/styles.css' %}"
      type="text/css"
    />

    <title>Game Shop</title>
  </head>
  <body>
    <header>
      <div id="navbar" class="w-full border-b-2 border-solid border-blue-700">
        <div class="flex justify-center py-16">
          <a href="{% url 'featured' %}"><img src="{% static 'images/logo.svg' %}" /></a>
        </div>
        <div class="flex relative justify-center">
          <ul class="flex uppercase font-bold text-lg items-center py-4">
            <li
              class="mr-8 {% if request.path == '/' %} text-red-600 {% endif %}"
            >
              <a href="{% url 'featured' %}">Featured</a>
            </li>
            <li
              class="mr-8 {% if request.path == '/deals' %} text-red-600 {% endif %}"
            >
              <a href="{% url 'deals' %}">Deals</a>
            </li>
            <li
              class="mr-8 {% if request.path == '/news' %} text-red-600 {% endif %}"
            >
              <a href="{% url 'news' %}">News</a>
            </li>
            <li
              class="mr-8 {% if request.path == '/all-games' %} text-red-600 {% endif %}"
            >
              <a href="{% url 'all-games' %}">All games</a>
            </li>
            <div class="flex bg-gray-300 items-center pr-1">
              <input
                type="text"
                placeholder="Search products"
                class="p-2 bg-transparent text-gray-700 h-full w-full"
              />
              <img class="w-8 h-8" src="{% static 'icons/search.png' %}" />
            </div>
          </ul>
          <div class="absolute right-0 top-0 mr-8 flex">
            <div class="text-center font-normal text-sm mr-4">
              <a href="https://dr.dk">
                <img
                  class="mx-auto h-10 w-10"
                  src="{% static '/icons/account.png' %}"
                />
                <p>Account</p>
              </a>
            </div>
            <div class="text-center font-normal text-sm">
              <a href="https://dr.dk">
                <img
                  class="mx-auto h-10 w-10"
                  src="{% static '/icons/cart-outline.png' %}"
                />
                <p>Total amount</p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </header>

    {% block content %} {% endblock %}
  </body>
</html>
