{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="flex justify-center min-h-screen bg-gray-100 p-12">
  <div class="bg-white" style="max-width: 800px;">
    <div class="bg-gray-900 w-full">
      <a href="/"><img src="{% static 'icons/back_white.png' %}" /></a>
    </div>
    <div class="p-6">
      <div class="flex mb-8">
        <div class="mr-16">
          <img class="w-full mb-6" src="{{ product.img_url }}" />
          <table class="whitespace-no-wrap">
            <tbody>
              <tr>
                <td class="font-bold text-gray-600 pr-4">Categories</td>
                <td class="font-bold uppercase whitespace-normal"><span>{{ product.categories | join:", " }}</span></td>
              </tr>
              <tr>
                <td class="font-bold text-gray-600 pr-4">Players</td>
                <td class="font-bold uppercase"><span>{{ product.min_players }} - {{ product.max_players }}</span></td>
              </tr>
              <tr>
                <td class="font-bold text-gray-600 pr-4">Age</td>
                <td class="font-bold uppercase"><span>{{ product.min_age }}+</span></td>
              </tr>
              <tr>
                <td class="font-bold text-gray-600 pr-4">Playing time</td>
                <td class="font-bold uppercase"><span>{{ product.min_playing_time }} - {{ product.max_playing_time }} min</span></td>
              </tr>
              <tr>
                <td class="font-bold text-gray-600 pr-4">Complexity</td>
                <td class="font-bold uppercase"><span>{{ product.complexity_rating }}/5</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div>
          <div class="flex mt-4 mb-8">
            <div class="flex justify-center items-center relative w-16 h-16 mr-8">
              <div class="absolute inset-1/2 border-solid border-4 border-red-600 h-16 w-16 transform rotate-45"></div>
              <span class="text-3xl">{{ product.rating|floatformat:1 }}</span>
            </div>
            <div>
              <h1 class="text-4xl font-bold">{{ product.name }}</h1>
            </div>
          </div>
          <div class="mb-8">
            <span class="text-4xl">${{ product.price }}</span>
          </div>
          <form method="POST">
            <div class="flex mb-8 space-x-4 items-end">
              <button class="bg-blue-700 text-white py-2 px-4">Add to cart</button>
              <div>
                <div>
                <p class="text-sm">Quantity</p>
                </div>
                <input name="quantity" id="quantity" class="border-solid border border-black h-10 mt-2" type="number" />
              </div>
            </div>
          </form>
          <div>
            <p>{{ product.description }}</p>
          </div>
        </div>
      </div>

      <div>
        <div class="text-sm mb-2">Rate this game</div>
        <div class="flex">
          {% for i in '01234356789'|make_list %}
            <img class="h-6 w-6" src="{% static 'icons/star_red.png' %}" />
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}