{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="min-h-screen bg-gray-100">
  <div class="flex justify-center pt-12">
    <div class="bg-white p-6 border-b-2 border-solid border-red-600 w-3/4">
      <div class="flex flex-wrap items-baseline w-full">
          <div class="mr-4 text-gray-500 text-sm whitespace-no-wrap">Showing results for</div>
          <div class="text-xl font-bold text-black">{{ query }}</div>
      </div>
      <div class="mt-2 text-xs">{{ products|length }} result(s)</div>
    </div>
  </div>
  <div class="grid grid-cols-12 gap-6 p-12">
    {% for product in products %}
      <div class="flex justify-center col-span-12 sm:col-span-6 md:col-span-4 ">
        {% include 'includes/product_card.html' %}
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}


